@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");

#main-container * {
  /* outline: red solid 1px; */
}

:root {
  /*** VARS ***/
  --color-highlight: #24242b;
  --color-light: #f5d3c8;
  --color-mid: #2c3949;
  --color-main: #18141f;
  --color-background: #051824;
  --color-text: rgb(224, 203, 203);

  /* Interactables */
  --color-text-link: #dbbdbc;
  --text-link-color-hover: #535bf2;
  --color-underline-anim: #0087ca;
  /************/

  color-scheme: light dark;
  color: var(--color-text);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--color-text-link);
  text-decoration: inherit;
}
a:hover {
  color: var(--text-link-color-hover);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

body {
  width: 100%;
  height: 100%;
  font-family: "IBM Plex Mono", monospace;
}
#root {
  margin: 0 auto;
  padding: 2rem;
  height: 80%;
  width: 80%;
}

.header-container {
  padding: 0.4em;
  background-color: var(--color-highlight);
  font-size: large;
  font-weight: lighter;
}
.content-container {
  padding: 1em;
}
.footer-container {
  padding: 1em;
}

#main-outer-container {
  width: 100%;
  height: 100%;
}

#main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  min-height: 80vh;
  box-sizing: border-box;
  border: solid var(--color-mid) 1px;
  background-color: var(--color-main);
}

.large-txt {
  font-size: 40px;
  font-weight: bold;
  opacity: 1;
}
.large-txt:hover {
  font-weight: bold;
  opacity: 1;
}

.link-tree-container {
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}
.link-tree-container > span {
  width: fit-content;
  padding-top: 0.4rem;
}

.text-light {
  font-weight: lighter;
}
.text-logo {
  width: fit-content;
  padding-bottom: 4px;
  padding-left: 4px;
}

.outset {
  border-bottom: double var(--color-light) 4px;
  border-left: double var(--color-light) 4px;
}

.typewriter {
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.15rem;
  margin-bottom: 8px;
}
div.typewriter {
  animation: 0.7s typing steps(32, end);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes caret {
  from {
    border-right: solid 0.15rem orange;
  }
  to {
    border: 0;
  }
}

.hover-underline {
  display: inline-block;
  position: relative;
  color: #0087ca;
}
.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--color-underline-anim);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out, opacity 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  opacity: 1;
  transform-origin: bottom left;
}

@media (max-width: 40rem) {
  #main-container {
    display: flex;
    flex-direction: column;
  }
  .left-container {
    padding-bottom: 0.6rem;
  }

  .right-container {
    border-top: solid var(--color-mid) 1px;
  }
  .large-txt {
    font-size: 1.125rem;
    margin-right: 0.875rem;
  }
}
@media (min-width: 40rem) {
  .left-container {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    display: inline;
  }

  .right-container {
    grid-column-start: 2;
    grid-column-end: 5;
    border-left: solid var(--color-mid) 1px;
  }
}

.social-link-container {
  word-wrap: break-word;
}
